@charset "utf-8";
@font-face {
  font-family: 'Boogaloo';
  font-style: normal;
  font-weight: 400;
  src: local('Boogaloo Regular'), local('Boogaloo-Regular'), url(https://fonts.gstatic.com/s/boogaloo/v12/kmK-Zq45GAvOdnaW6y1C9y4.ttf) format('truetype');
}
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Boogaloo', sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.2;
  background-color: #000;
  background-image: url('img/space_bg.png');
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-shadow: 0 2px 3px #000;
}
*,
*::before,
*::after {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  box-sizing: inherit;
}
.fullscreen {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
.view,
.container,
.orientation_message {
  width: 100%;
  height: 100%;
}
.orientation_message {
  display: flex;
  justify-content: center;
  align-items: center;
}
.orientation_message > div {
  width: 80%;
  max-width: 20em;
  margin-bottom: 20vh;
}
.orientation_message .icon {
  width: 100%;
  margin: 2em 0;
  text-align: center;
}
.orientation_message .icon img {
  width: 30vh;
  max-width: 120px;
}
.readersonly {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  text-indent: -99999px;
}
.invisible {
  visibility: hidden;
}
form[name=certificate] {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
}
.copyright {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
  color: #2cf;
}
.authors {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
  color: #2cf;
}
h1 {
  margin: 0;
  line-height: 1;
  font-weight: 400;
  font-size: 1.4em;
  text-transform: uppercase;
  text-align: center;
}
h2 {
  margin: 0;
  font-size: 1.4em;
  text-align: center;
}
p {
  margin: 1em 0;
}
ul,
ol {
  margin: 1em auto;
}
a {
  text-decoration: none;
  color: #f61;
  cursor: pointer;
  transition: all 0.2s linear;
}
a:hover,
a:focus {
  color: #f90;
}
a img {
  border: none;
}
a.disabled {
  color: inherit;
  opacity: 0.5;
}
a.disabled:hover,
a.disabled:focus {
  color: inherit;
  text-shadow: none;
}
em {
  color: #f61;
  font-style: normal;
}
hr {
  height: 1px;
  margin: 0.5em 0;
  background-color: #689;
  border: none;
}
.centered {
  text-align: center;
}
.textbox {
  margin: 1em 0;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.panel {
  width: 35em;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}
.panel .message {
  max-height: 60vh;
  margin: 0.5em 0;
  padding: 0.5em 1.5em;
  overflow-y: auto;
  text-align: left;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.panel .message ul {
  padding-left: 1em;
  text-align: left;
}
.panel .message ul li {
  margin: 0.5em auto;
}
.panel .message ul em {
  color: #2cf;
}
.loadingProgress {
  width: 80%;
  height: 1em;
  margin: 0.1em auto;
  padding: 0.3em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: rgba(0, 0, 0, 0.35);
}
.loadingProgress .bar {
  height: 0.4em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  transform-origin: left;
  background-color: #fff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-position: center bottom;
  background-size: cover;
}
.container .content {
  padding: 0 1em;
  text-align: center;
}
.container .content .text {
  text-align: left;
}
.container.splash {
  flex-flow: column nowrap;
}
.container.splash .content {
  width: 20em;
  max-width: 90%;
  padding: 0 1em;
}
.container.splash img {
  display: block;
  width: 100%;
  height: auto;
}
.container.splash .controls {
  height: 3em;
  padding: 0.3em;
}
.container.intro {
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(img/intro_01.png);
  background-position: center top;
  background-size: cover;
}
.container.intro .content {
  width: 15em;
  max-width: 90%;
  margin-right: 2em;
  margin-bottom: 1em;
  font-size: 1.2em;
}
.container.settings .content {
  width: 15em;
  max-width: 90%;
}
.container.settings .menu {
  list-style: none;
  margin: 0.5em 0;
  padding: 0.5em 1.5em;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.container.settings .menu li {
  margin: 0.5em 0;
  padding: 0;
}
.container.settings .menu .linkbutton {
  text-transform: uppercase;
}
.container.settings h1,
.container.settings p {
  margin: 0.5em 0;
}
.container.howto {
  /*.instructions {
			margin: 1em 0;
			padding: .5em 1.5em;
			background-color: rgba(0, 0, 0, .25em);
			.border-radius();
		}*/
}
.container.howto .content {
  width: 25em;
  max-width: 90%;
}
.container.howto ul {
  padding-left: 1em;
  text-align: left;
  color: #2cf;
}
.container.howto ul li {
  margin: 0.5em auto;
}
.container.howto ul em {
  color: #fff;
}
.container.howto h1,
.container.howto p {
  margin: 0.5em 0;
}
.container.howto button[disabled] {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
.container.info .content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 35em;
  max-width: 90%;
  text-align: center;
}
.container.info .content img {
  flex: 0 0 auto;
  width: 40%;
  margin-right: 2em;
}
.container.info .content .message {
  flex: 1 1 auto;
}
.container.info .content .controls {
  height: 3em;
  padding: 0.3em;
}
.container.boss {
  background-image: url(img/boss.png);
  background-position: center top;
  background-size: cover;
  align-items: flex-end;
  justify-content: flex-start;
}
.container.boss .content {
  max-width: 90%;
  margin: 0 auto;
  padding: 2em 4em;
}
.container.boss .content .question {
  font-size: 1.6em;
}
.controlbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.3em 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  pointer-events: none;
  z-index: 99;
  color: #2cf;
}
.controlbar.bottom {
  top: auto;
  bottom: 0;
}
.controlbar button {
  pointer-events: all;
}
.controlbar a {
  pointer-events: all;
}
button {
  margin: 0.1em;
  font: inherit;
  text-shadow: none;
  text-transform: uppercase;
  background-color: #f61;
  color: #fff;
  border: none;
  padding: 0.4em 1em;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  -webkit-box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.5), inset 0 1.9em 0 -1em rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.5), inset 0 1.9em 0 -1em rgba(255, 255, 255, 0.25);
  box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.5), inset 0 1.9em 0 -1em rgba(255, 255, 255, 0.25);
  cursor: pointer;
  pointer-events: auto;
  transition: all 0.2s linear;
}
button:hover,
button:focus {
  background-color: #f90;
  color: #fff;
}
button[disabled],
button[disabled]:hover,
button[disabled]:focus {
  background-color: rgba(255, 102, 17, 0.25);
  color: #777;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
button .icon {
  display: block;
  width: 1em;
  height: 1em;
  margin: 0 auto;
}
button.round {
  width: 2em;
  height: 2em;
  padding: 0;
}
button.round.prev .icon {
  display: inline-block;
  transform: rotate(180deg);
}
button.linkbutton {
  display: inline-block;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  text-shadow: inherit;
  text-transform: none;
  color: #f61;
}
button.linkbutton:hover,
button.linkbutton:focus {
  color: #f90;
}
button.linkbutton .png_icon {
  height: 1.6em;
  width: auto !important;
  margin-right: 0 !important;
  vertical-align: text-bottom;
}
button.toggle[aria-pressed=true] {
  position: relative;
}
button.toggle[aria-pressed=true]:after {
  content: '';
  display: block;
  position: absolute;
  left: 0.2em;
  right: 0.2em;
  top: 1em;
  border-bottom: 0.1em solid #fff;
  transform: rotate(45deg);
}
button.assistant {
  background-color: #09d;
}
.multitext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.multitext h2 {
  text-align: center;
}
.multitext .nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 1em;
  padding-top: 0.5em;
  border-top: 2px solid #357;
}
.multitext .pages {
  margin: 0.2em;
  margin-right: auto;
  padding: 0.4em 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  white-space: nowrap;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: none;
}
.overlay .dialog {
  width: 25em;
  max-width: 90%;
  max-height: 90%;
  padding: 1em 0;
  text-shadow: none;
  text-align: center;
  background-color: #fff;
  color: #123;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  transform: scale(0.75);
  transition: transform 0.2s ease-in-out;
  overflow-y: auto;
}
.overlay .dialog .content {
  width: 100%;
  padding: 0.5em 1em;
  overflow-y: auto;
  text-align: left;
}
.overlay .dialog .content .message {
  flex: 1 1 auto;
  margin-bottom: 0.5em;
}
.overlay .dialog .content .toolmessage {
  flex: 1 1 auto;
  width: 100%;
  text-align: left;
}
.overlay .dialog.bonus {
  width: 15em;
  background-color: #fd3;
}
.overlay .dialog.bonus .content {
  flex: 1 1 auto;
  padding: 0.3em 1em;
}
.overlay .dialog.bonus h2 {
  color: #f60;
  text-transform: uppercase;
  font-size: 1.8em;
}
.overlay .dialog.bonus h2 span {
  font-size: 0.7em;
}
.overlay .dialog.bonus .points {
  display: none;
}
.overlay .dialog.victory,
.overlay .dialog.defeat {
  width: 35em;
  max-width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.overlay .dialog.victory > img,
.overlay .dialog.defeat > img {
  height: 15em;
  width: auto;
  margin: 0 auto;
}
.overlay .dialog.victory {
  background-color: #eee;
  box-shadow: 0 0 0 1em rgba(255, 255, 255, 0.25), 0 0 0 0.4em rgba(255, 255, 255, 0.65);
}
.overlay .dialog.defeat {
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 0 1em rgba(255, 0, 0, 0.25), 0 0 0 0.4em rgba(255, 0, 0, 0.65);
}
.overlay .dialog.bossintro {
  width: 35em;
  background: none;
  color: #fff;
}
.overlay .dialog.bossintro h2 {
  line-height: 1;
  margin: 2em 0;
  font-size: 1.4em;
}
.overlay .dialog.hologram {
  width: 30em;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  border: 0.1em solid #fff;
  box-shadow: inset 0 0 0.2em 0.2em #2cf, 0 0 0.2em 0.2em #2cf;
}
.overlay .dialog.hologram .toolimage {
  min-height: 8em;
  margin: 0 !important;
  transform: scale(1.2);
}
.overlay .dialog.hologram h1 {
  color: #2cf;
}
.overlay .dialog.spacephone {
  padding-top: 0.3em;
  background-color: #394046;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid #222;
}
.overlay .dialog.spacephone .content {
  display: block;
  padding: 0;
}
.overlay .dialog.spacephone .toolmessage {
  min-height: 150px;
  width: 100%;
  margin: 0.3em 0;
  padding: 1em;
  background-color: #000;
  border-top: 2px solid #222;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
}
.overlay .dialog.spacephone .toolimage {
  display: none;
}
.overlay .dialog.spacephone h1 {
  color: #fff;
  text-align: center;
}
.overlay .dialog.spacephone p {
  margin: 0.2em 4em 0.2em 0;
  padding: 0.3em 0.5em;
  background-color: #bdf;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.overlay .dialog.spacephone p:nth-child(even) {
  margin: 0.2em 0 0.2em 4em;
  background-color: #cfc;
}
.overlay .dialog.spacephone em {
  text-transform: uppercase;
}
.overlay.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.overlay.visible .dialog {
  transform: scale(1);
}
.overlay.hint .content {
  display: flex;
  flex-flow: row nowrap;
}
.overlay.hint .content .toolimage {
  height: 5em;
  width: auto;
  margin-right: 1em;
}
.overlay.hint .content .toolmessage {
  width: 100%;
}
.overlay.feedback {
  z-index: 110;
}
.overlay.feedback .content {
  text-align: center;
}
.space {
  max-height: 80%;
  text-align: center;
}
.space h1 {
  margin: 0;
}
.space .planets {
  position: relative;
  max-width: 100%;
  overflow-x: auto;
}
.space ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 1em 0;
  padding: 0;
  list-style: none;
}
.space ul li {
  margin: 1em 1em;
  text-align: center;
  box-shadow: none;
}
.space ul li a {
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
}
.space ul li a .thumb {
  transition: transform 0.2s ease-in-out;
}
.space ul li a:hover .thumb,
.space ul li a:focus .thumb {
  transform: scale(1.1);
}
.space ul li .thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7em;
  height: 7em;
  margin: 0.5em auto;
  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-border-radius-topleft: 50%;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-bottomright: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.space ul li .thumb img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.space ul li .certificate {
  height: 1.5em;
  margin: 0.5em;
}
.space ul li .enabled {
  color: #645;
  cursor: pointer;
}
.space ul li .enabled:hover .thumb {
  -webkit-box-shadow: 0 0 0 15px #fff;
  -moz-box-shadow: 0 0 0 15px #fff;
  box-shadow: 0 0 0 15px #fff;
}
.planet {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
}
.planet .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 400vw;
  height: 100vh;
  background-color: #000;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.planet .main {
  position: relative;
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 9;
}
.planet .controls {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #000;
}
.planet .controls p {
  margin: 0.3em 0;
}
.planet .controls .answers {
  flex-flow: column nowrap;
  flex-grow: 1;
  margin-right: 1em;
  padding: 0.5em 1em;
  border-left: 1px solid #568;
  border-right: 1px solid #568;
  text-align: center;
}
.planet .controls .answers .answerOptions {
  height: 2em;
  margin: 0.3em 0;
}
.planet .controls .answers button {
  margin: 0 0.4em 0 0;
}
.planet .controls .answers button[disabled],
.planet .controls .answers button[disabled]:hover,
.planet .controls .answers button[disabled]:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
.planet .controls .answers .bet {
  font-size: 1.5em;
}
.planet .controls .buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 1em;
}
.alien {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  flex: 1 0;
  overflow: hidden;
  padding: 0 2em;
}
.alien > img {
  height: 55vh;
  width: auto;
  flex-shrink: 0;
  z-index: 99;
}
.alien .question {
  width: 20em;
  padding-bottom: 30vh;
}
.alien .balloon {
  position: relative;
  display: inline-block;
  min-width: 120px;
  max-width: 100%;
  min-height: 100px;
  margin-left: -3em;
  padding: 1em 1.5em;
  background-color: #fff;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 2px solid #000;
  color: #123;
  text-shadow: none;
  z-index: 99;
}
.alien .balloon .responses {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 0.5em;
}
.alien .balloon .callout {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 45%;
  left: -1.2em;
  border-right: 1.2em solid #000;
  border-top: 0.95em solid transparent;
}
.alien .balloon .callout:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -1em;
  left: 0.18em;
  border-right: 1.2em solid #fff;
  border-top: 0.95em solid transparent;
}
.tools {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0 0.5em;
}
.tools .hint {
  margin-bottom: 0.2em;
  text-align: center;
}
.tools button {
  margin: 0 0.2em;
  padding: 0 0.3em;
  background: none;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
.tools button .disabled {
  color: rgba(255, 255, 255, 0.5);
}
.tools button .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 3.5em;
  height: 3.5em;
  margin: 0 auto;
  overflow: visible;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-border-radius-topleft: 50%;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-bottomright: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transition: all 0.2s linear;
}
.tools button .icon.blinking {
  animation: blinking 3s infinite;
}
.tools button .icon img {
  width: auto;
  height: 100%;
  transform: scale(0.9);
}
.tools button:hover .icon,
.tools button:focus .icon,
.tools button.selected .icon,
.tools button.used .icon {
  background-color: #fff;
}
.armies {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.armies .scoreboard {
  flex-grow: 1;
  text-align: center;
  color: #fff;
}
.armies .scoreboard .score {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2em;
  padding: 0 0.5em;
  text-align: center;
  background-color: #000;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.armies .scoreboard .score .label {
  margin: 0.2em 0;
}
.armies .scoreboard .score .values {
  margin-bottom: 0.2em;
  font-size: 2em;
  border-top: 1px solid #568;
}
.armies .army {
  width: 40%;
}
.armies .army .label {
  margin: 0.5em 0.5em 0 0.5em;
  padding: 0.2em 0.5em;
  text-align: center;
  background-color: #090;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  -webkit-box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.5), inset 0 1.9em 0 -1em rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.5), inset 0 1.9em 0 -1em rgba(255, 255, 255, 0.25);
  box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.5), inset 0 1.9em 0 -1em rgba(255, 255, 255, 0.25);
}
.armies .army.evil .label {
  background-color: #e00;
}
.armies .army.evil .soldiers {
  justify-content: flex-end;
}
.armies .army.evil .soldiers .thumb {
  margin: 0.3em 0.1em 0 -1em;
  border: 0.2em solid #e00;
}
.armies .army .soldiers {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 0.5em;
}
.armies .army .soldiers .thumb {
  width: 3em;
  height: 3em;
  margin: 0.2em -1em 0 0.1em;
  flex-grow: 0;
  background-color: #000;
  border: 0.2em solid #090;
  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-border-radius-topleft: 50%;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-bottomright: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.3em 0.3em 0 rgba(0, 0, 0, 0.5);
}
.armies .army .soldiers .thumb img {
  display: block;
  margin-top: 0.3em;
  width: 100%;
  height: auto;
}
.switch {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  text-transform: uppercase;
  color: #f61;
  cursor: pointer;
}
.switch:hover,
.switch:focus {
  color: #fff;
}
.switch label {
  display: block;
  margin: 0;
  cursor: pointer;
}
.switch .slider {
  position: relative;
  display: block;
  box-sizing: content-box;
  width: 2em;
  height: 1em;
  margin: 0;
  padding: 0.05em;
  font-size: 0.8em;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.25);
  border: 0.13em solid #fff;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  -webkit-box-shadow: inset 0 0.1em 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0.1em 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0.1em 0 rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}
.switch .slider:after {
  position: absolute;
  display: block;
  content: '';
  width: 1em;
  height: 1em;
  top: 0.05em;
  left: 0.05em;
  background-color: #fff;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -webkit-border-bottom-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  -moz-border-radius-bottomleft: 1em;
  -moz-border-radius-bottomright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  transition: transform 0.2s;
}
.switch input {
  display: none;
}
.switch input:checked + .slider {
  text-align: left;
  background-color: #f61;
}
.switch input:checked + .slider:after {
  -webkit-transform: translate3d(1em, 0, 0);
  -ms-transform: translate3d(1em, 0, 0);
  transform: translate3d(1em, 0, 0);
}
.switch.disabled {
  cursor: auto;
}
.switch.disabled:hover,
.switch.disabled:focus {
  text-shadow: none;
  color: #f61;
}
.switch.disabled .slider:after {
  border: none;
}
.pulsating {
  animation: pulsating 1s infinite;
}
/*
[tabindex] {
	outline: none;
}
*/
@media only screen and (orientation: portrait) {
  .view {
    display: none;
  }
  .orientation_message {
    display: flex;
  }
  .planet .main .alien > img {
    height: 60vw;
  }
}
@media only screen and (orientation: landscape) {
  .view {
    display: block;
  }
  .orientation_message {
    display: none;
  }
}
@media (max-width: 1800px) {
  body {
    font-size: 32px;
  }
}
@media (max-width: 1500px) {
  body {
    font-size: 24px;
  }
}
@media (max-width: 900px), handheld {
  body {
    font-size: 18px;
  }
  .container.splash .content {
    width: 16em;
  }
  .container.intro .content {
    margin-bottom: 0.5em;
    margin-right: 1em;
    font-size: 0.9em;
  }
  .container.howto .content {
    width: 90%;
  }
  .space ul {
    flex-wrap: nowrap;
  }
  .space ul li .thumb {
    width: 6em;
    height: 6em;
  }
  .planetstatus {
    font-size: 0.8em;
  }
}
@media (max-height: 540px) {
  body {
    font-size: 16px;
  }
  .alien .question {
    padding-bottom: 20vh;
  }
  .alien .question .balloon {
    margin-left: -2em;
  }
  .tools button .icon {
    width: 3em;
    height: 3em;
  }
  .planetstatus {
    transform: scale(1.7);
  }
}
@keyframes happyjump {
  0% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  10% {
    transform: scale3d(0.9, 1.1, 1) translate3d(0, -20%, 0);
  }
  30% {
    transform: scale3d(1.05, 0.8, 1) translate3d(0, 0, 0);
  }
  40% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}
@keyframes blinking {
  0% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  40% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
@keyframes glowing {
  0% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  50% {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 0.2em 0.1em #fff;
    -moz-box-shadow: 0 0 0.2em 0.1em #fff;
    box-shadow: 0 0 0.3em #fff;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
@keyframes pulsating {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=game.css.map */