<div class="container boss">
	<div class="armies">
		<div class="army good">
			<div class="label">You</div>
			<div class="soldiers">
				<div ng-repeat="char in characters | filter: { allegiance: 1 } : true as goodarmy" class="thumb">
					<img ng-src="{{ char.image }}" alt="" aria-hidden="true" title="{{char.name}}">
				</div>
			</div>
		</div>
		<div class="scoreboard">
			<div class="score">
				<div class="label">Score</div>
				<div class="values">
					{{goodarmy.length}} : {{evilarmy.length}}
				</div>
			</div>
			<div ng-show="attempts > 0">{{attempts}} attempt{{ attempts > 1 ? 's' : '' }} left</div>
		</div>
		<div class="army evil">
			<div class="label">Captain Plague</div>
			<div class="soldiers">
				<div ng-repeat="char in characters | filter: { allegiance: -1 } as evilarmy" class="thumb">
					<img ng-src="{{ char.image }}" alt="" aria-hidden="true" title="{{char.name}}">
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div ng-bind-html="currentQuestion.question" class="question" tabindex="0"></div>
		<p>
			<button ng-repeat="option in currentQuestion.options" 
				ng-click="verifyAnswer($index, option)">{{ option.label }}</button>
		</p>
	</div>
	<div id="dlgFeedback" class="overlay feedback" ng-class="{ visible: feedback.message.length }">
		<div class="dialog" ng-class="[ feedback.classname ]" tabindex="0">
			<img ng-src="{{ feedback.image }}" ng-visible="feedback.image.length" alt="">
			<div class="content">
				<div ng-bind-html="feedback.message" class="message"></div>
				<button ng-click="closeFeedback();">Continue</button>
			</div>
		</div>
	</div>
</div>
