<div class="container">
	<div class="content">
		<div class="panel">
			<h1 id="infoTitle">{{ page.title }}</h1>
			<div class="message" ng-bind-html="page.content" tabindex="0" aria-describedby="infoTitle"></div>
			<div class="buttons" ng-click="closeLocation()"><button>Close</button></div>
		</div>
	</div>
	<div class="controlbar bottom">
		<div>&copy; Ryerson University</div>
		<div>
			<button class="linkbutton" ng-click="openLocation('/gameinfo/about')">About</button> | 
			<button class="linkbutton" ng-click="openLocation('/gameinfo/terms')">Terms of Use</button> | 
			<button class="linkbutton" ng-click="openLocation('/gameinfo/contacts')">Contacts</button>
		</div>
	</div>
</div>
