<div class="container">
	<div class="planet">
		<div class="background" ng-style="{ 'background-image': 'url(' + bgImage + ')', 'background-position-x': bgPosition + 'vw'}"></div>
		<div class="main">
			<div class="armies">
				<div class="army good">
					<div class="label">You</div>
					<div class="soldiers">
						<div ng-repeat="char in characters | filter: { allegiance: 1 } : true as goodarmy" class="thumb">
							<img ng-src="{{ char.image }}" alt="" aria-hidden="true" title="{{char.name}}">
						</div>
					</div>
				</div>
				<div class="scoreboard">
					<div class="score">
						<div class="label">Score</div>
						<div class="values">
							{{goodarmy.length}} : {{evilarmy.length}}
						</div>
					</div>
					<div ng-show="attempts > 0">{{attempts}} attempt{{ attempts > 1 ? 's' : '' }} left</div>
				</div>
				<div class="army evil">
					<div class="label">Captain Plague</div>
					<div class="soldiers">
						<div ng-repeat="char in characters | filter: { allegiance: -1 } as evilarmy" class="thumb">
							<img ng-src="{{ char.image }}" alt="" aria-hidden="true" title="{{char.name}}">
						</div>
					</div>
				</div>
			</div>
			<div class="alien">
				<img ng-src="{{ currentCharacter.image }}" alt="{{ currentCharacter.name }}" class="character">
				<div class="question">
					<div class="balloon" ng-show="currentQuestion.question">
						<div ng-bind-html="currentQuestion.question" id="txtSpeechBalloon" tabindex="1"></div>
						<!--<div class="responses">
							<div>
								<button ng-repeat="option in currentQuestion.options" ng-disabled="!currentBet" 
									ng-click="verifyAnswer($index, option)" tabindex="1">{{ option.label }}</button>
							</div>
							<div>
								<button class="assistant" tabindex="1" ng-click="getHint($event, 0);">Hint</button>
							</div>
						</div>-->
						<div class="callout"></div>
					</div>
				</div>
				<div id="dlgHint" class="overlay hint"  ng-class="{ visible: currentHint.message.length }">
					<div class="dialog" ng-class="[ currentHint.tool.classname ]" tabindex="0">
						<h1>{{ currentHint.tool.label }}</h1> 
						<div class="content">
							<img class="toolimage" ng-src="{{ currentHint.tool.image }}" alt="">
							<div ng-bind-html="currentHint.message" class="toolmessage"></div>
						</div>
						<div>
							<button id="btnCloseHint" ng-click="closeHints();">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="controls">
				<div class="tools" tabindex="1" aria-labelledby="txtToolHint">
					<button ng-class="['tool', {used: tool.value == 0, selected: $index == hintId }]" 
						title="{{ tool.label }} tool" tabindex="1" 
						ng-repeat="tool in tools" ng-click="getHint($event, $index);">
						<span class="icon">
							<img ng-src="{{ tool.image }}" alt="Use {{ tool.label }} tool">
						</span>
					</button>
				</div>
				<div class="answers">
					<div id="txtToolHint">Hint: Use tools to enable answers.</div>
					<div class="answerOptions">
						<button ng-repeat="option in currentQuestion.options" ng-disabled="!currentBet" 
							ng-click="verifyAnswer($index, option)" tabindex="1">{{ option.label }}</button>
					</div>
				</div>
				<div class="buttons">
					<button ng-click="exitPlanet()" class="round" aria-label="Exit planet {{planet.name}}" title="Exit planet {{planet.name}}"><img src="_/img/icon_close.svg" alt="" class="icon"></button> 
					<button ng-click="openSettings()" class="round" aria-label="Settings" title="Open settings" tabindex="3"><img src="_/img/icon_gear.svg" alt="" class="icon"></button>
				</div>
			</div>
			<div id="dlgFeedback" class="overlay feedback" ng-class="{ visible: feedback.message.length }">
				<div class="dialog" ng-class="[ feedback.classname ]" tabindex="0">
					<img ng-src="{{ feedback.image }}" ng-visible="feedback.image.length" alt="">
					<div class="content">
						<div ng-bind-html="feedback.message" class="message"></div>
						<div ng-hide="aio.planets[planetIndex].status < 1">
							<p><button class="linkbutton" ng-click="getCertificate(planetIndex)"><img src="_/img/icon_pdf.png" alt="" class="png_icon"> Download Your Certificate of Honour...</button></p>
							<p>Note: If you have trouble downloading, please check your browser's pop-up blocker.</p>
						</div>
						<button ng-click="closeFeedback();">Continue</button> 
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
