<div class="container splash">
	<div class="content">
		<img src="_/img/splash.png" alt="">
		<div class="controls">
			<button id="btnStart" ng-show="loaded == 1" ng-click="startGame()">Play Game</button>
			<div ng-hide="loaded == 1">
				<div class="loadingProgress">
					<div class="bar" ng-style="{width: loaded * 100 + '%'}"></div>
				</div>
				<div>Loading...</div>
			</div>
		</div>
	</div>
	<div class="controlbar bottom">
		<div>&copy; Ryerson University</div>
		<div>
			<button class="linkbutton" ng-click="openLocation('/gameinfo/about')">About</button> | 
			<button class="linkbutton" ng-click="openLocation('/gameinfo/terms')">Terms of Use</button> | 
			<button class="linkbutton" ng-click="openLocation('/gameinfo/contacts')">Contacts</button>
		</div>
	</div>
</div>
